body {
    margin: 0px;
    background-color: #fdf5ed !important;
}
main {
    padding-top: 70px;
}
.info-box {
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding: 20px;
    background-color: white;
}
.logo {
    float: left;
}
 
.con-p {
    font-weight: 700;
   color:#eb7e02
}
#responsive-navbar {
    background-color: white;
    color:#07101f;
    opacity: 0;
   visibility: hidden;
   transition: 1s;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    
}

#responsive-navbar li {
    display: block;
    border-bottom: 1px solid #07101f5e;
    padding: 18px;
}
#responsive-navbar a {
    color:rgba(9, 19, 63, 0.849);
    text-decoration: none !important;
    font-size: 16px;
    padding: 10px;
}
#responsive-navbar a.active {
    font-weight: bolder;
}
.intro p {
    color: #035;
    padding: 10px;
    font-family: 'Palanquin Dark';
    text-indent: 3rem;

}
nav {
    float: right;
    display: block;
}
#menu {
    display: none;
}
.donate {
    background-color: #eb7e02;
    color: white;
   
}
.donate h3 {
  
}

.abouts h2 , .abouts h3 , #us h3:nth-child(1)  { 
    font-family: 'Passion One', cursive;
    color: #eb7e02;
}
#us h5 {
    color:#07101fd0;
    font-size: 18px;
    padding: 15px;
    font-family: 'Palanquin Dark';
}
.paragraph {
    font-family: 'Palanquin Dark';
    color: #081120;
}
.donate .btn {
   
    cursor: pointer !important;
    font-size: 20px;
    border-radius: 0em;
    font-weight: bolder;
    padding: 10px 35px;
    background-color: white;
    color:#eb7e02;
    transition: 0.5s;
}
.donate .btn:hover {
    background-color: #eb7e02;
    color: white;
    border: 1px solid white;
}
li {
    display: inline;
    margin: 0px 0.2rem;
}
.top-head h3 {
    font-family: 'Palanquin Dark', sans-serif;
   text-align: center;
   color:#07101f;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.serv_list {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #035;
    font-weight: 600;
    
}
.greetings {
   margin: 0px;
   padding: 10rem 10rem;
   text-align:center;
   
   color: white;
   transition: padding 1s ease-in;
   font-family: 'Passion One', cursive;
}
.greetings h3 {
    font-size: 40px;
}
header {
    background-color: white;
    padding: 30px;
    height: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 1px 7px 0px;
}
.background {
    width: 100%;
}
.board {
    background-image: url(img/img1.jpg);
    background-color: #000000b4;
    background-blend-mode: darken;
   margin: 0px;
    background-size: cover;
}
.active a {
    background-color: #eb7e02;
    color: white !important;
    text-decoration: none !important;
    padding: 20px 10px;
    font-weight: 400;
    margin: 2px;
    transition: 0.5s;
    font-family: 'Comfortaa', cursive;
}
.ref{
    text-decoration: none !important;
    padding: 20px 10px;
    font-weight: 400;
    margin: 2px;
    color:#07101f;
    transition: 0.5s;
    font-family: 'Comfortaa', cursive;
}
.ref:hover{
       background-color: #eb7e02;
       color: white !important;
}

ul {
    margin: 0px;
}
#menu {
    float:right;
}
.serv_list {
    box-shadow: 0px 0px 5px 0px #af9451;
    margin: 15px;
    background-color: #eb7e02;
    color: white;
    border-radius: 0.6em;
    padding: 25px;
    transition: 0.5s;
}
.serv_list:hover {
    background-color: white;
    color: #035 !important;
    
}
.serv_list:hover i{
    background-color: white;
    color: #035 !important;
    font-size: 24px;
    border: 2px solid;
   
    padding: 10px;
    border-radius: 2em;
    
}
section {
    padding: 40px 0px
}
ul {
    padding: 0px;
}
.info-box i {
    font-size: 32px;
    color: #eb7e02;
    border-radius: 50%;
    padding: 8px;

    border: 2px dotted #ffded4;
    float: left;
}
.info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 60px;

}
header {
    padding: 30px 30px 50px;
}
.logo img {
    width: 95px;
    position: relative;
    top: -27px;
    left: -20px;
}
#responsive-navbar li:last-child {
    background: #eb7e02;
    color: white;
    text-align: center;
}
#responsive-navbar li:last-child a{
    font-weight: bolder;
    color: white;
    font-size: 20px;
}
.Message .btn, .greetings .btn, .reg:hover {
    background-color: #eb7e02;
    color: white;
    border-radius: 0px;
    transition: 0.4s;
}
footer input {
    padding: 7px;
    font-size: 20px;
    color: #eb7e02;
    border: 2px solid #eb7e02;

}
footer button {
    background-color: #eb7e02;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0px;
    transition: 0.4s;
    position: relative;
    top: -3px;
    left: 2px;
}
footer {
    padding: 30px 0px;
    background:white;
    border-top: 0.5px solid rgb(0 51 85 / 12%);
    color: #eb7e02;
    
}
footer h5 {
    color: #035;
}
footer ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
footer ul li a {
    color: #035;
    font-weight: 500;
}
footer ul li i{
    padding-right: 2px;
    color: #ffa587;
    font-size: 18px;
    line-height: 1;
}
.Message .btn:hover, .greetings .btn:hover, .reg {
    background-color:white;
    color: #eb7e02 !important;
    border: 1px solid;
    
}
.info-box h3 {
    font-size: 20px;
    color: #003355;
    font-weight: 700;
    margin: 10px 0 10px 68px;
}
.icon i {
    font-size: 24px;
    border: 2px solid white;
    color: white;
    padding: 10px;
    transition: color 1s ease-in-out;
    border-radius: 2em;
}
.icon {
    margin-bottom: 20px;
}
@media (min-width: 920px) {
    #responsive-navbar {
        display: none;
    }
    }

@media (max-width: 920px) {
    #nav_list {
        display: none; 
    }
    #responsive-navbar {
       visibility: hidden;
    }
    #menu {
        display: block;
    }
    .greetings {
        padding: 4rem 2rem;
    }
   .img {
       width: 100%;
   }
   .text {
       width:100%
   }
    #dots {
        display: block;
    }
}
@media (max-width: 695px){
    
}

/*modal content*\
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  .reg {
      
  }
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white !important;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }